body{
    background-color: rgb(91, 110, 66);
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/300/0000000042.1920x1080.jpg?t=1570137070);
}
#Title{
    color: gold;
    text-align: center;
    font-family: tahoma;
}
#Title2{
    color: black;
    font-family: Sans-serif;
    text-align: center;
    font-size: medium;
    text-shadow: 2px 2px 3px gold;
}
#Info{
    color: black;
    text-shadow: 5px 5px 6px white;
    font-size: large;
    font-family: Times;
    background-color: gold;
}
#VID{
    position: float;
    margin-top: 100px;
    height: 480px;
    width: 854px;
    border: 2px solid gold;
    box-sizing: border-box;
}
