body{
    background-color: black;
}
#BACK{
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/300/0000000042.1920x1080.jpg?t=1570137070);
    background-repeat: no-repeat;
}
#Title{
    color: gold;
    text-align: center;
    font-family: tahoma;
}
#Title2{
    color: gold;
    font-family: Sans-serif;
    text-align: center;
    font-size: medium;
    text-shadow: 2px 2px 3px black;
}
#Info{
    color: gold;
    text-shadow: 2px 2px 3px black;
    font-size: large;
    font-family: Times;
}
#VID{
    position: float;
    margin-top: 100px;
    height: 480px;
    width: 854px;
    border: 2px solid gold;
    box-sizing: border-box;
}
#Title3{
    font-size: large;
    color: red;
    background-image: url();
}
#PL{
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/300/0000000023.1920x1080.jpg?t=1570137070);
}
#Info2{
    color: red;
}